@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:steelblue;
}
.calculator{
    position: relative;
    display: grid;
    box-shadow: 8px 8px 7px black;
     border: 5px solid black; 
     border-radius: 8px;
}
.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;

}
.calculator span{
    border-radius: 8px;
    box-shadow: 2px 2px 4px gray;
    display: grid;
    width:60px ;
    height: 60px;
    color: lightcyan;
    background: lightgreen;
    place-items: center;
    border: 1px solid black;
}
.calculator span:active{
    background: lightslategray;
    color: lightyellow;
}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background: magenta;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.plus{
 background-color: lightgreen;
}

